html {
	scroll-behavior: smooth;
}

body {
	background-color: #fff;
	color: var(--text-color);
	font-family: var(--font-main);
	text-wrap: balance;
	line-height: 90%;
}

* {
	&::selection {
		background-color: #FFD500;
	}
}

img {
	display: block;
}

a {
	color: var(--link-color);
}

section {
	margin: 0 10px;
	margin-bottom: 30px;
	border-radius: 40px;
	overflow: hidden;
}
