.advantages {
    @include mediaTablet {
        border-radius: unset;
    }
}

.advantages__inner {
    display: flex;
    align-items: stretch;
    min-height: 560px;
    height: 100%;
    gap: 10px;

    @include media-L-Laptop {
        min-height: 400px;
    }
    @include mediaLaptop {
        min-height: 360px;
    }
    @include mediaTablet {
        min-height: 280px;
    }
}

.advantages__inner .swiper-wrapper {
    height: auto;
}

.advantages__card {
    padding: 84px 79px;
    background-color: var(--section-bg);
    border-radius: 40px;
    overflow: hidden;

    @include media-L-Laptop {
        padding: 32px;
    }
    @include mediaLaptop {
        padding: 24px;
    }
    @include mediaTablet {
        width: 100%;
        padding: 32px;
        border-radius: 32px;
    }
    @include mediaMobile {
        // max-width: 260px;
    }
}

.advantages__card .title {
    font-weight: 600;
    font-size: 40px;
    line-height: 100%;
    color: #f3f3f3;
    position: relative;
    z-index: 3;
    @include media-L-Laptop {
        font-size: 32px;
    }
    @include mediaLaptop {
        font-size: 26px;
    }
    @include mediaMobile {
        font-size: 24px;
    }
}

.advantages__card p {
    position: relative;
    max-width: 100%;
    margin-top: 26px;
    font-size: 18px;
    line-height: 150%;
    color: #f3f3f3;
    z-index: 3;
    @include mediaLaptop {
        font-size: 16px;
    }
}

.advantages__card {
    position: relative;

    background-size: cover;
    background-position: 50% 50%;
    transition: all 0.3s ease-in-out;
    z-index: 1;
    &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        background-color: black;
        opacity: 0.2;
    }
}

.advantages__card.card-1 {
    background-image: url('../../img/advantages/dolgovechnii.png');
}
.advantages__card.card-2 {
    background-image: url('../../img/advantages/uniq.png');
}
.advantages__card.card-3 {
    background-image: url('../../img/advantages/vlagostoikii.png');
}
