.btn {
    border-radius: 40px;
    background: var(--accent);
    line-height: 100%;
    color: #fff;
    padding: 10px 20px;
    font-weight: 500;
    font-size: 16px;
    transition: all 0.2s ease-in;
    height: 51px;
    &:hover {
        // background: lighten(var(--accent), 8);
        background: var(--hover-accent);
    }
}

.btn-link {
    padding: 14px 16px;
    border-radius: 40px;
    border: 1px solid var(--text-color);
    font-weight: 500;
    line-height: 120%;
    font-size: 14px;
    color: var(--text-color);
}
