.catalog {
    position: relative;
    background: var(--section-bg);
    padding: 92px 0 84px 0;
}

.catalog__descr {
    margin-top: 25px;
    margin-bottom: 46px;
}

.catalog__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 24px;
}

.catalog__img {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
}

.tabs {
    display: flex;
    align-items: center;
    gap: 6px;
}

.tabs button {
    color: var(--title-color);
    background: #fff;
    &:hover {
        color: var(--title-color);
        background: var(--accent);
    }
}

.tabs button.active {
    background: var(--accent);
}

.catalog__list {
    position: relative;
    z-index: 5;
    display: flex;
    align-items: flex-start;
    gap: 20px;
}

.tns-ovh {
    overflow-x: hidden;
}

.tns-liveregion,
.tns-nav {
    display: none;
}

.tns-outer {
    position: relative;
}

.tns-controls {
    position: absolute;
    right: 0;
    top: -75px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
}

.tns-controls [aria-controls] {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 40px;
    background: #fff;
    transition: all 0.2s ease-in;

    &:hover {
        background: var(--accent);
    }
}
