.consultation {
    position: relative;
    padding: 92px 0 169px 0;
    background: var(--section-bg);

}



.consultation__title {
    max-width: 590px;
}

.consultation__text {
    max-width: 380px;
    margin-top: 35px;
    margin-bottom: 59px;
    font-size: 18px;
    line-height: 150%;
    text-wrap: wrap;
}
.consultation__privacy-policy {
    max-width: 280px;
    margin-top: 39px;
    text-wrap: wrap;
    color: rgba(25, 25, 25, 0.8);
}

.consultation__privacy-policy a {
    color: var(--accent-dark);
    text-decoration: underline;
    line-height: 150%;
}

.consultation__img-1 {
    position: absolute;
    bottom: 0;
    left: 28%;
    transition: all 0.4s ease-in-out;
    pointer-events: none;
}

.consultation__img-2 {
    position: absolute;
    bottom: 0;
    right: 0;
    transition: all 0.3s ease-in-out;
    pointer-events: none;
}

.consultation:hover {
    
    .consultation__img-1 {
        transform: scale(1.07);
    }
    .consultation__img-2 {
        transform: scale(1.02);
    }
}