.contacts {
    padding: 78px 0;
    background: var(--section-bg);
    &:hover {
        .contacts__img {
            transform: scale(1.05);
        }
    }
    @include media-L-Laptop {
        padding: 70px 0;
    }
    @include mediaLaptop {
        padding: 50px 0;
    }
    @include mediaTablet {
        padding: 40px 0;
    }
    @include mediaMobile {
        padding: 32px 0;
    }
}

.contacts__container {
    position: relative;

}

.form.contacts__form {
    @include mediaLaptop {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;        
    }                                 
}

.form.contacts__form > * {
    @include mediaLaptop {
        max-width: 280px;
        width: 100%;
    }
}



.contacts__text {
    margin: 22px 0 51px 0;
    @include mediaLaptop {
        margin: 24px 0;
    }
}

.contacts__privacy-policy {
    position: relative;
    z-index: 2;
    margin: 30px 0 59px 0;
    a {
        color: var(--accent-dark);
        text-decoration: underline;
    }

    @include mediaLaptop {
        margin: 24px 0;
    }
    @include mediaTablet {
        font-size: 14px;
    }
    @include mediaMobile {
        font-size: 12px;
        margin-bottom: 133px;
    }
}

.contacts__list {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    gap: 10px;
    z-index: 5;
    @include mediaLaptop {
        grid-template-columns: 1fr 1fr;
    }
    @include mediaTablet {
        display: flex;
        flex-direction: column;
        
    }
}

.contacts__item {
    display: flex;
    flex-direction: column;
    padding: 32px;
    background: #fff;
    border-radius: 20px;

    @include media-L-Laptop {
        padding: 16px;
    }
    @include mediaLaptop {
        padding: 24px;
        min-height: 180px;
    }
    @include mediaTablet {
        padding: 32px;
        min-height: 165px;
    }
}

.contacts__item__value {
    margin-top: auto;
    font-weight: 600;
    font-size: 18px;
    line-height: 120%;
    color: var(--title-color);
    text-wrap: wrap;
    @include mediaTablet {
        font-size: 16px;
    }
}

.contacts__item__name {
    margin-top: 14px;
    @include mediaTablet {
        font-size: 14px;
    }
}

.contacts__img {
    position: absolute;
    bottom: -78px;
    right: -80px;
    z-index: 1;
    pointer-events: none;
    transition: all 0.2s ease-in;
    @include mediaMobile {
        bottom: 54%;
        right: -6%;
    }
}