.icons-wrapper {
	padding: 30px 0;
	display: flex;
	column-gap: 30px;
}

.icon {
	fill: transparent;
	stroke: transparent;
	width: 16px;
	height: 16px;
}

.icon--geo-pin {
	stroke: black;
}

.icon--phone {
	stroke: black;
	width: 15px;
	height: 15px;
}

.icon--clock {
	stroke: #fff;
	width: 15px;
	height: 15px;
}

.icon--player-play {
	fill: #fff;
	width: 24px;
	height: 24px;
}

.icon--calendar {
	stroke: var(--accent);
	width: 32px;
	height: 32px;
}

.icon--users-group {
	stroke: var(--accent);
	width: 32px;
	height: 32px;
}

.icon--certificate {
	stroke: var(--accent);
	width: 32px;
	height: 32px;
}

.icon--map-pin {
	stroke: var(--accent);
	width: 32px;
	height: 32px;
}
.icon--phone-contacts {
	stroke: var(--accent);
	width: 32px;
	height: 32px;
}
.icon--mail {
	stroke: var(--accent);
	width: 32px;
	height: 32px;
}
.icon--clock-hour {
	stroke: var(--accent);
	width: 32px;
	height: 32px;
}

.icon--phone-w {
	stroke: #fff;
	width: 17px;
	height: 17px;
}


// .icon--user-star {
// 	fill: rgb(26, 134, 235);
// }

// .icon--user {
// 	stroke: rgb(26, 134, 235);
// 	transition: all 0.2s ease-in;

// 	&:hover {
// 		stroke: rgb(17, 193, 90);
// 	}
// }
