.icons-wrapper {
	padding: 30px 0;
	display: flex;
	column-gap: 30px;
}

.icon {
	fill: transparent;
	stroke: transparent;
	width: 16px;
	height: 16px;
}

.icon--geo-pin {
	stroke: black;
}

.icon--phone {
	stroke: black;
	width: 15px;
	height: 15px;
}



// .icon--user-star {
// 	fill: rgb(26, 134, 235);
// }

// .icon--user {
// 	stroke: rgb(26, 134, 235);
// 	transition: all 0.2s ease-in;

// 	&:hover {
// 		stroke: rgb(17, 193, 90);
// 	}
// }
