.modal {
    // display: none;
    display: flex;
    opacity: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 998;
    padding: 1rem;
    transition: all 0.2s ease-in;
    background: rgba(0, 0, 0, 0.8);
    pointer-events: none;
    &.show {
        // display: flex;
        opacity: 1;
        pointer-events: all;
    }
}

.modal__content .modal__close:first-child {
    position: absolute;
    top: 21px;
    right: 16px;

    border-radius: 3px;
    padding: 8px;
    @include mediaMobile {
        top: 8px;
        right: 8px;
    }
}

.modal__content .modal__close:first-child:hover {
    .icon--close {
        stroke: var(--accent);
    }
}

.modal__content {
    position: relative;
    max-width: 476px;
    width: 100%;
    padding: 32px 24px 24px 24px;
    box-shadow: 0 4px 80px 0 rgba(0, 0, 0, 0.32);
    border-radius: 15px;
    z-index: 999;
    background: #fff;
    opacity: 0;
    transition: all 0.2s ease-in;
}

.modal__text {
    max-width: 375px;
    margin: 24px 0;
    font-size: 16px;
    line-height: 150%;
    text-wrap: wrap;
}

// object-modal

.modal__close-button {
    width: 100%;
}

#object-modal .modal__title {
    margin-bottom: 28px;
}

#object-modal .modal__slider {
    display: flex;
    align-items: center;
    // gap: 10px;
    // margin: 28px 0 0 0;
}

#object-modal .modal__slider img {
    // max-width: 418px;
    // width: 100%;
    height: 240px;
    border-radius: 20px;
    @include mediaTablet {
        // width: 252px;
    }
}

#customize-thumbnails {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 10px 0 28px 0;
    img {
        width: 64px;
        height: 64px;
        border-radius: 20px;
        pointer-events: all;
    }
}

#object-modal .modal__content {
    position: relative;
}

#object-modal .tns-controls {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 96%;

    display: flex;
    align-items: center;
    justify-content: space-between;

    z-index: 3;
}

// detailed-modal

#detailed-modal .title {
    margin-bottom: 24px;
}

#detailed-modal .detailed__slider {
    display: flex;
    align-items: center;
}

#detailed-modal .detailed__slider img {
    border-radius: 20px;
    height: 240px;
    width: 100%;
}

#detailed-modal .tns-outer {
    position: relative;
}

// #detailed-modal.tns-item {
//     padding-right: 10px !important;
// }

#detailed-modal .tns-controls {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 96%;

    display: flex;
    align-items: center;
    justify-content: space-between;
    opacity: 0;
    z-index: 3;
    pointer-events: none;
    transition: all 0.2s ease-in;
}

#detailed-modal .modal__content:hover .tns-controls {
    opacity: 1;
    pointer-events: all;
}

#detailed-modal .modal__text {
    max-width: 100%;
    max-height: 240px;
    overflow-y: scroll;
}

#detailed-modal .modal__text {
    &::-webkit-scrollbar {
        width: 5px;
    }
    &::-webkit-scrollbar-track {
        // background: var(--section-bg);
        background: transparent;
    }
    &::-webkit-scrollbar-thumb {
        background: var(--accent);
        border-radius: 5px;
    }
}

.modal__block-highlighted {
    padding: 18px;
    background: var(--section-bg);
    border-radius: 20px;
    margin-bottom: 20px;
}
    

.modal__block-highlighted-title {
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 18px;
}

.modal__block-highlighted-text {
    line-height: 150%;
}
// application-modal

#application-modal .title {
    margin-bottom: 30px;
}

#application-modal .modal__card {
    padding: 16px;
    display: grid;
    grid-template-columns: 128px 1fr;
    gap: 14px;
    border: 1px solid rgba(0, 0, 0, 0.06);
    border-radius: 20px;
}

#application-modal .modal__img {
    position: relative;
    width: 128px;
    height: 128px;
}

#application-modal .modal__img .card__tags {
    top: 7px;
    left: 6px;
}

#application-modal .modal__img .card__tags .card__tag {
    padding: 7px 12px;
    font-size: 13px;
}

#application-modal .modal__img img {
    width: 100%;
    height: 128px;
    object-fit: cover;
    border-radius: 20px;
}

#application-modal .modal__card-right .title {
    margin-bottom: 14px;
}

#application-modal .modal__card-right p {
    margin-bottom: 12px;
    font-size: 13px;
    line-height: 120%;
    text-wrap: wrap;
}

#application-modal .modal__data {
    display: grid;
    grid-template-columns: 137px 1fr;
    gap: 5px;
    height: 38px;
}

#application-modal .modal__block,
#application-modal .modal__count {
    border-radius: 20px;
    padding: 14px 10px;
    background: var(--section-bg);
}

#application-modal .modal__block {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

#application-modal .modal__weight {
    font-weight: 500;
    font-size: 12px;
}

#application-modal .modal__price {
    font-weight: 600;
    font-size: 14px;
}

#application-modal .modal__count {
    display: flex;
    align-items: center;
    padding: 0 8px;
}

#application-modal .modal__count-minus,
#application-modal .modal__count-plus {
    font-size: 20px;
    padding: 12px 16px;
    line-height: 100%;
}
