.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
    font-size: 18px;
}
.nav__list {
    display: flex;
    gap: 30px;
}
.nav__list li a {
    font-weight: 400;
    font-size: 14px;
    line-height: 110%;
    color: #191919;
    transition: all 0.2s ease-in;

    &:hover {
        color: var(--link-color);
    }
}
.active {
}
