.objects {
    padding: 78px 0;
    background: var(--section-bg);
}

.objects__title {
    max-width: 50%;
}

.objects__gallery {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 46px;
}

.objects__item {
    position: relative;
}

.objects__item span {
    position: absolute;
    top: 13px;
    left: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    padding: 10px 14px;
    backdrop-filter: blur(15.899999618530273px);
    background: rgba(0, 0, 0, 0.35);
    color: #fff;
    border-radius: 16px;
    overflow: hidden;
}

.objects__item img {
    border-radius: 20px;
}
