.objects {
    padding: 78px 0;
    background: var(--section-bg);
}

.objects__title {
    max-width: 50%;
}

.objects__gallery {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 46px;
}

.objects__item {
    position: relative;
}

.objects__item:hover img {
    filter: brightness(70%);
}

.objects__item:hover button {
    opacity: 1;
    pointer-events: all;
}

.objects__item span {
    position: absolute;
    top: 13px;
    left: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    padding: 10px 14px;
    backdrop-filter: blur(15.899999618530273px);
    background: rgba(0, 0, 0, 0.35);
    color: #fff;
    border-radius: 16px;
    overflow: hidden;
    z-index: 3;
    pointer-events: all;
    transition: all 0.2s ease-in;
    
}

.objects__item img {
    border-radius: 20px;
    transition: all 0.2s ease-in;
}

.objects__item button {
    position: absolute;
    left: 10px;
    bottom: 12px;
    opacity: 0;
    pointer-events: none;
}

.objects .tns-controls {
    top: -40px;
}