.subtitle {
    display: inline-block;
    margin-bottom: 27px;
    padding: 8px 14px;
    height: 31px;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    color: var(--accent);
    backdrop-filter: blur(15.899999618530273px);
    background: var(--subtitle-bg);
    border-radius: 16px;
}
