.subtitle {
    display: inline-block;
    margin-bottom: 27px;
    padding: 8px 14px;
    height: 31px;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    color: var(--text-color);
    backdrop-filter: blur(15.899999618530273px);
    background: rgba(25, 25, 25, 0.1);
    border-radius: 16px;
    @include mediaTablet {
        font-size: 14px;
    }
    @include mediaMobile {

        margin-bottom: 24px;
    }
}
