.title {
	font-weight: 500;
	color: var(--title-color);
	font-family: var(--font-titles);
}

.title-1 {
	font-size: 100px;
	line-height: 90%;
	@include mediaLaptop {
		font-size: 80px;
	}
	@include mediaTablet {
		font-size: 48px;
	}
	@include mediaMobile {
		font-size: 32px;
	}
}

.title-2 {
	font-size: 80px;
	line-height: 90%;
}

.title-3 {
	font-size: 44px;
	line-height: 90%;
}

.title-4 {
	font-size: 24px;
	line-height: 90%;
}